

  /*--BASIC--*/
* {
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding:0;
    margin:0;
}
h2, h3, h4, h5 {
  font-family: 'Gochi Hand', cursive;
}
h3 {
  font-size: 3rem;
}
input {
  display: none;
}

/* --BANNER-- */
.nav-style{
    background-color: #7678ED;
}
.banner {
  background-image: url('../images/banner.png');
  background-size: cover;
}
a {
  color: inherit;
}


/* --ABOUT-- */
.logo {
  width: 350px;
}
.symbol {

  width: 125px;
}
.col-style-1 {
  background-color: #3D348B;
  box-shadow: 3px 3px 5px lightgray;
  border-radius: 15px;
}
.col-style-2 {
  background-color: #F7B801;
  box-shadow: 3px 3px 5px lightgray;
}
.col-style-3 {
  background-color: #7678ED;
  box-shadow: 3px 3px 5px lightgray;
  border-radius: 15px;
}

/* --PHOTO BTN-- */
.photobtn {
  background-color: #7678ED;
  box-shadow: 3px 3px 5px lightgray;
  border-radius: 50%;
  width: 125px;
}
.photobtn a:link {
  text-decoration: none;
}
.photobtn a:hover {
  color: #3D348B;
}
.cam {
  width: 75px;
  height: 75px;
}

/* --NEWSLETTER-- */
.newsletter {
  background-color: #FFADAD;
  box-shadow: 3px 3px 5px lightgray;
  border-radius: 15px;
}

/* --GALLERY-- */
.top-content {
  background-color: #7678ED;
  margin: 0 auto 20px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  box-shadow: 3px 3px 5px lightgray;
}
.front {
  font-family: 'Gochi Hand', cursive;
  font-size: 2rem;
  height: 100%;
  background-color: #3D348B;
  line-height: 60px;
  padding: 0 50px;
  margin: 0;
}
.pic-label {
  display: inline-block;
  height: 100%;
  display: flex;
  margin: 0 10px;
  line-height: 60px;
  cursor: pointer;
  transition: color .2s;
}
.pic-label:hover {
  color: #3D348B;
}
.photo-gallery {
  display: flex;
  flex-wrap: wrap;
}
.pic {
  position: relative;
  height: 150px;
  width: 150px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px lightgray;
  cursor: pointer;
}
.pic img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: .2s;
}
.pic img:hover {
  transform: scale(1.1);
}
/* .pic::before {
  content: "PHOTO GALLERY";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  margin-top: -100px;
  opacity: 0;
  transform: .3s;
  transition-delay: .2s;
  z-index: 1;
}
.pic:after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  height: 0;
  background-color: rgb(0, 0, 0, .4);
  transition: .3s;
}
.pic:hover::after {
  height: 100%;
}
.pic:hover::before {
  margin-top: 0;
  opacity: 1;
} */

/* -SELECTED- */
#check0:checked ~ .container-select .photo-gallery .pic {
  opacity: 1;
  transform: scale(1);
  position: relative;
  transition: .5s;
}
/* OCTOBER */
#check10:checked ~ .container-select .photo-gallery .october {
  opacity: 1;
  transform: scale(1);
  position: relative;
}
#check10:checked ~ .container-select .photo-gallery .november,
#check10:checked ~ .container-select .photo-gallery .december {
  opacity: 0;
  transform: scale(0);
  position: absolute;
  transition: 0s;
}
/* NOVEMBER */
#check11:checked ~ .container-select .photo-gallery .november {
  opacity: 1;
  transform: scale(1);
  position: relative;
}
#check11:checked ~ .container-select .photo-gallery .october,
#check11:checked ~ .container-select .photo-gallery .december {
  opacity: 0;
  transform: scale(0);
  position: absolute;
  transition: 0s;
}
/* DECEMBER */
#check12:checked ~ .container-select .photo-gallery .december {
  opacity: 1;
  transform: scale(1);
  position: relative;
}
#check12:checked ~ .container-select .photo-gallery .october,
#check12:checked ~ .container-select .photo-gallery .november {
  opacity: 0;
  transform: scale(0);
  position: absolute;
  transition: 0s;
}

/* --FOOTER-- */
.copyfoot {
  background-color: #F7B801;
}
.facebook {
  width: 50px;
  cursor: pointer;
}

@media (min-width: 768px) {

/* --ABOUT-- */
.logo {
  width: 500px;
}
.symbol {
  width: 100px;
}

/* --GALLERY-- */
.pic {
  height: 200px;
  width: 200px;
  margin: 10px;
}
}
